* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.App {
    text-align: center;
    padding: 40px;
}

input {
    padding: 10px;
    width: 200px;
}

.error {
    color: red;
}
